{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block profile %} <!-- this is the name of the block below -->
<!-- Carousel
    ================================================== -->
   

    <!-- <hr> -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->




<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
</head>

<body lang=ZH-CN link=blue vlink=purple style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div style="layout-grid:15.6pt">

<p><b><span style="font-size:22.0pt;font-family:Book Antiqua,serif" lang="EN-US.utf-8">Sidi Chang<span>&nbsp; </span></span></b><b><span style="font-size:22.0pt;font-family:华文楷体">常思頔</span></b></p>

<p><span style="font-size:12.0pt;font-family:Verdana,sans-serif" lang="EN-US">&nbsp;</span></p>

<p><span style="font-size:12.0pt;font-family:Verdana,sans-serif" lang="EN-US"><img alt="../static/img/image02.jpg" src="../static/img/image02.jpg" height="339" width="339"></span></p>

<p><span style="font-size:12.0pt;font-family:Verdana,sans-serif" lang="EN-US">&nbsp;</span></p>

<p style="margin-bottom:7.8pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">Hi! I just finished my Master degree in <a href="http://www.wm.edu/as/mathematics/graduate/cor/index.php/">Computer Science with a specialization in Computational Operations Research</a> at <a href="http://www.wm.edu/">College of William and Mary</a>.</span></p>

<p style="margin-bottom:7.8pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">Before
coming to William&Mary, I received my BS degree in Computer Science from ACM Honor Class at <a href="http://english.hust.edu.cn/">Huazhong University of Science and Technology</a>.</span></p>

<p style="margin-bottom:7.8pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">I am
interested in operations research/theoretical computer science, especially combinatorial graph theory, optimization and algorithmic game theory.</span></p>


<p style="margin-bottom:7.8pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">&nbsp;</span></p>

<p style="margin-bottom:7.8pt"><b><span style="font-size:16.0pt;font-family:Book Antiqua,serif" lang="EN-US">Publications</span></b></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:7.8pt;margin-left:31.5pt"><b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">The implementation of virtualization technology in EAST data system</span></b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US"> [<a href="http://www.sciencedirect.com/science/article/pii/S0920379614002695">pdf</a>]<br>
Joint work with Feng Wang, Xiaoyang Sun, Shi Li, Yong Wang and Bingjia Xiao.<br>
<i>Fusion Engineering and Design </i>(2014).</span></p>
<p style="margin-bottom:7.8pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">&nbsp;</span></p>


<p style="margin-bottom:7.8pt"><b><span style="font-size:16.0pt;font-family:Book Antiqua,serif" lang="EN-US">Teaching</span></b></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:7.8pt;margin-left:31.5pt"><b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">Teaching Assistant, College of William and Mary, Spring 2016.</span></b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US"><br>
Graded Math 106 Intro to Statistics Quiz.<br></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:7.8pt;margin-left:31.5pt"><b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">Teaching Assistant, College of William and Mary, Fall 2015.</span></b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US"> <br>
Held Math 111 Calculus I, Math 112 Calculus II Lab Every week.<br>
Graded Math 212 MultiVariable Calculus Quiz.<br></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:7.8pt;margin-left:31.5pt"><b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">Teaching Assistant, College of William and Mary, Fall 2014&Spring 2015.</span></b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US"> <br>
Graded Math 211 Linear Algebra Assignments.<br></span></p>
<p style="margin-bottom:7.8pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">&nbsp;</span></p>

<p style="margin-bottom:7.8pt"><b><span style="font-size:16.0pt;font-family:Book Antiqua,serif" lang="EN-US">Contact</span></b></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:7.8pt;margin-left:10.5pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">103 Johns Hall<br>
 Mathematics Division<br>
College of William and Mary<br>
Williamsburg, VA 23185</span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:7.8pt;margin-left:10.5pt"><b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">Tel</span></b><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">: (757)
256-9414<br>
<b>Email</b>: schang03 [at] email [dot] wm
[dot] edu or me [at] sidi [dot] online</span></p>

<p style="margin-bottom:7.8pt"><span lang="EN-US">&nbsp;</span></p>

</div>

</body>
</html>
{% endblock %}