{% extends "base.html" %}
{% block slide %}
<!--...
<div class="container" align="center">
<iframe src="../templates/Sidi_Chang_week_4.4.pdf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="../templates/Sidi_Chang_week_4.4.pdf" title="JustBid Demo" target="_blank">Justbid Demo</a> </strong> from <strong><a href="../templates/Sidi_Chang_week_4.4.pdf" target="_blank">Sidi Chang</a></strong> </div></div>
-->
<p style="margin-bottom:7.8pt"><span style="font-size:12.0pt;font-family:Book Antiqua,serif" lang="EN-US">Here is
my <a href="../static/img/Sidi_Chang_week_4.4.pdf">Demo</a>.</span></p>
{% endblock %}